#navbar{
    background-color:rgb(63, 177, 91);
}

#suelo{
    background-color: rgb(111, 224, 139);
}

#mas{
    background-color:rgb(121, 230, 148);
}

#footer{
    background-color:rgb(145, 223, 164);
}